IO_LOC "clk" 4;
IO_PORT "clk" PULL_MODE=UP IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC  "sys_rst_n" 88; // S1 button
IO_PORT "sys_rst_n" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC  "led_tx" 15; // SYS_LED0 (Báo TX - Gửi)
IO_PORT "led_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC  "led_rx" 16; // SYS_LED1 (Báo RX - Nhận)
IO_PORT "led_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC  "TX_PIN" 69; // PIN69_SYS_TX
IO_PORT "TX_PIN" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC  "RX_PIN" 70; // PIN70_SYS_RX
IO_PORT "RX_PIN" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
